body{
  background-color: black;
  color: wheat;
  min-height: 100vh;
  display: grid;
  place-items: center;
}


.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  column-gap: 10px;
  row-gap: 10px;
  
}

button,
.task,
.date,
.Add{
  cursor: pointer;
  background-color: rgb(63, 63, 63);
  border: none;
  border-radius: 6px;
  color: #f5f5f5;
  padding: 6px;
  margin-bottom: 20px;
  transition: 0.2s ease, transform 0.1s ease;
}

h2{
  display: flex;
  justify-content: center;
}

.container{
  border-radius: 10px;
  border: 1px solid #333;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background-color: #111;
}




.listLayout{
  padding: 20px;

}
.delete:hover{
  background-color: rgb(75, 7, 7);
  box-shadow: 0 0 6px rgba(99, 12, 12, 0.822);
}
.delete:active{
  background-color: black;
  color: rgb(75, 7, 7);
  border: solid 1px grey ;
  transform: scale(0.95);
}

.Add:hover{
  background-color: rgb(10, 63, 10);
  box-shadow: 0px 0px 6px rgb(6, 87, 10);
}
.Add:active{
  transform: scale(0.95);
}




